* {
font-family: 'Raleway', sans-serif;
}

body {
  background-image: url("https://compass-ssl.xbox.com/assets/46/58/465889e7-3a93-47b6-8323-087f23eb1132.jpg?n=FIFA-19_GLP-Page-Hero-1084_1920x600_02.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-size: 19px;
}

h1 {
  text-align:center;
  letter-spacing: 3px;
}

h3 {
  text-align:center;
  letter-spacing: 2px;
}
