h1{
  font-size:30px;
    color: orange;
    text-align:center;
  display:inline-block;
  padding-top: 50px;
  padding-left: 750px;
}
p{
  font-size:20px;
  color: orange;
  text-align:center;
}
h2{
  font-size:30px;
    color: orange;
  margin-left: 750px;
  margin-right: 700px;
}
h3{
  font-size:40px;
    color: orange;
    text-align:center;
}
h4 {
  font-size:40px;
  color: orange;
  text-align:center;
}
h5 {
  font-size:40px;
  color: orange;
  text-align:center;
}
.NavigationalBar li {
  display: inline;
}

.NavigationalBar {
 width: 2560px;
 position: fixed;
 max-height: 50px;
  display:block;
}
div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.NavigationalBar li {
  float: left;
}

.NavigationalBar li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h6{
font-size:20px;
  color: orange;
  text-align:center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#pros {
  color: orange;
  background-color: black;
}
#cons {
  color: orange;
   background-color: black;
}
#paint {
  color: orange;
   background-color: black;
}
#nuke {
  color: orange;
   background-color: black;
}
#maps {
  color: orange;
   background-color: black;
}
#carry {
  color: orange;
   background-color: black;
}
#torque {
  color: orange;
   background-color: black;
}
#SAUG {
  color: orange;
   background-color: black;
}
#ajax {
  color: orange;
   background-color: black;
}
#titan {
  color: orange;
   background-color: black;
}
#image1 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#image2 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:: 50%;
}
#image3 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.video {
  margin-left: 650px;
}
#title {
  background-color: black;
}
#review {
  background-color: black;
}
#what {
  background-color: black;
}
#twhat {
  background-color: black;
}
#good {
  background-color: black;
}
#tgood {
  background-color: black;
}
#bad {
  background-color: black;
}
#tbad {
  background-color: black;
}
#con {
  background-color: black;
}
#tcon {
  background-color: black;
}
#procon {
  background-color: black;
}
