h1{
  font-size:30px;
    color: orange;
    text-align:center;
  display:inline-block;
  padding-top: 50px;
  padding-left: 650px;
}
p{
  font-size:20px;
  color: orange;
  text-align:center;
}
h2{
  font-size:30px;
    color: orange;
    text-align:center;
}
h3{
  font-size:40px;
    color: orange;
    text-align:center;
}

.NavigationalBar li {
  display: inline;
}

.NavigationalBar {
 width: 2560px;
 position: fixed;
 max-height: 50px;
  display:block;
}
div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.NavigationalBar li {
  float: left;
}

.NavigationalBar li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h6{
font-size:20px;
  color: orange;
  text-align:center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#pros {
  color: orange;
}
#cons {
  color: orange;
}
#paint {
  color: orange;
}
#nuke {
  color: orange;
}
#maps {
  color: orange;
}
#carry {
  color: orange;
}
#torque {
  color: orange;
}
#SAUG {
  color: orange;
}
#ajax {
  color: orange;
}
#titan {
  color: orange;
}
