h1{
  font-size:40px;
    color: orange;
    text-align:center;
  display:inline-block;
  padding-top: 50px;
  padding-left: 550px;
}
body{
background-image:url("https://wallpapercave.com/wp/wp3049110.jpg");
  background-position:center;
}
p{
  font-size:20px;
  color: orange;
  text-align:center;
  margin-left: 300px;
  margin-right: 300px;
}
h3{
  font-size:30px;
    color: orange;
  margin-left: 595px;
  margin-right: 570px;
}
h4{
  font-size:30px;
    color: orange;
    text-align:center;
   margin-left: 595px;
  margin-right: 570px;
}
h5 {
  font-size:30px;
  color: orange;
  text-align:center;
   margin-left: 595px;
  margin-right: 570px;
}
h6 {
  font-size:30px;
  color: orange;
  text-align:center;
   margin-left: 595px;
  margin-right: 570px;
}
.NavigationalBar li {
  display: inline;
}

.NavigationalBar {
 width: 2560px;
 position: fixed;
  top: -0px;
 max-height: 85px;
  display:block;
}
div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.NavigationalBar li {
  float: left;
}

.NavigationalBar li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}
h7{
font-size:20px;
  color: orange;
  text-align:center;
   margin-left: 595px;
  margin-right: 570px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#pros {
  color: orange;
  background-color: black;
  font-size:30px;
  margin-left: 400px;
  margin-right: 400px;
}
#cons {
  color: orange;
   background-color: black;
  font-size:30px;
  margin-left: 400px;
  margin-right: 400px;
}
#paint {
  color: orange;
   background-color: black;
  font-size:20px;
}
#nuke {
  color: orange;
   background-color: black;
  font-size:20px;
}
#maps {
  color: orange;
   background-color: black;
  font-size:20px;
}
#carry {
  color: orange;
   background-color: black;
  font-size:20px;
}
#torque {
  color: orange;
   background-color: black;
  font-size:20px;
}
#SAUG {
  color: orange;
   background-color: black;
  font-size:20px;
}
#ajax {
  color: orange;
   background-color: black;
  font-size:20px;
}
#titan {
  color: orange;
   background-color: black;
  font-size:20px;
}
#image1 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#image2 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:: 50%;
}
#image3 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.video {
  margin-left: 550px;
}
#title {
  background-color: black;
}
#review {
  background-color: black;
   margin-left: 725px;
  margin-right: 730px;
}
#what {
  background-color: black;
}
#twhat {
  background-color: black;
}
#good {
  background-color: black;
}
#tgood {
  background-color: black;
}
#bad {
  background-color: black;
}
#tbad {
  background-color: black;
}
#con {
  background-color: black;
}
#tcon {
  background-color: black;
}
#procon {
  background-color: black;
  font-size:30px;
}
#platform {
  background-color: black;
   margin-left: 725px;
  margin-right: 730px;
}
#table {
  margin-right: 450px;
  margin-left: 450px;
}
.asidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 8px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border-style: solid;
    border-width: 5px;
}


.asidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    color: #2197F3;
    display: block;
}

.asidenav h2{
  text-align: center;
  color: #1d2026;
}

main {
    margin-left: 140px;
    margin-right: 140px;
    padding: 0px 10px;
}

.asidenav ul{
 padding: 0px;
}
