h1{
  font-size:40px;
    color: orange;
    text-align:center;
}
p{
  font-size:30px;
  color: orange;
  text-align:center;
}
h2{
  font-size:30px;
    color: orange;
    text-align:center;
}
h3{
  font-size:40px;
    color: orange;
    text-align:center;
}
header{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
