body {
  background-image: url("http://pavbca.com/walldb/original/e/f/1/259419.jpg");
  background-size: contain;
}

h1 {
  color: #FFF;
  font-size:40px;
}

p {
  color: black;
  font-size:20px;
}

h2 {
  color: #FFF;
  font-size:40px;
}

h3 {
  color: #FFF;
  font-size:40px;
}

h4 {
  color: #FFF;
  font-size:40px;
}
