body {
  background-image: url("https://stmed.net/sites/default/files/my-little-pony%3A-friendship-is-magic-wallpapers-26286-2311775.jpg");
  background-size: contain;
}

h1 {
  color: #FFF;
  font-size:40px;
}

p {
  color: black;
  font-size:20px;
}

h2 {
  color: #FFF;
  font-size:40px;
}

h3 {
  color: #FFF;
  font-size:40px;
}

h4 {
  color: #FFF;
  font-size:40px;
}
