body {
  background-image: url("https://stmed.net/sites/default/files/my-little-pony%3A-friendship-is-magic-wallpapers-26286-2311775.jpg");
  background-size: contain;
}

h1 {
  color: #FFF;
}

p {
  color: #FFF;
}
