body {
background-image : url(https://steamuserimages-a.akamaihd.net/ugc/862855679990869016/E87B9D75A64F49A81693551E2C0A16C82C8F8B21/);
}  

p {
color : black;
}

h1,
h2 {
text-align : center;
}

h3 {
color : green;
}
