body {
background-image : url("./backg.jpg");
background-size: cover;
background-repeat: no-repeat;
}  

p {
color : black;
font-size : 24px;
}

h1 {
color: white;
font-size : 60px;
text-align : center;
}

h2 {
color: white;
font-size : 28px;
text-align : center;
}

h3 {
color : green;
font-size : 25px;
font-weight : bold;
}

a:link {
color : white;
text-decoration : none;
}

a:visited {
color : white;
text-decoration : none;
}

a:hover{
color: white;
text-decoration : none;
}

a:active{
color : white;
text-decoration : none;
}

ul {
list-style-type : none;
margin : 0;
padding : 0;
overflow : hidden;
background-color : #666;
}

li {
float : left;
}

li a {
display : block;
color : white;
text-align : center;
padding : 30px;
text-decoration : none;
}

li a:hover {
background-color : #3da360;
}

.navigation{
font-size: 25px;
}
