body {
background-image : url(https://steamuserimages-a.akamaihd.net/ugc/862855679990869016/E87B9D75A64F49A81693551E2C0A16C82C8F8B21/);
}  

p {
color : black;
font-size : 24px;
}

h1 {
font-size : 60px;
text-align : center;
}

h2 {
font-size : 28px;
text-align : center;
}

h3 {
color : green;
font-size : 30px;
font-weight : bold;
}
