body {
background-image : url("./backgr.jpg");
background-repeat: no-repeat;
background-size: 160% 100%;
}  

p {
background-color : black;
color : #1fc217;
font-size : 24px;
opacity: 0.8;
position: relative;
z-index: -1;
}

h1 {
color: white;
font-size : 60px;
margin-top : 130px;
text-align : center;
}

h2 {
color: white;
font-size : 28px;
margin-bottom : 80px;
text-align : center;
}

h3 {
color : #0e5e0e;
font-size : 25px;
font-weight : bold;
}

a:link {
color : white;
text-decoration : none;
}

a:visited {
color : white;
text-decoration : none;
}

a:hover{
color: white;
text-decoration : none;
}

a:active{
color : white;
text-decoration : none;
}

ul {
background-color : #666;
list-style-type : none;
margin : 0;
overflow : hidden;
padding : 0;
}

li {
float : left;
}

li a {
color : white;
display : block;
padding : 30px;
text-align : center;
text-decoration : none;
}

li a:hover {
background-color : #3da360;
}

.navigation{
font-size : 25px;
margin-bottom : 80px;
max-height : 50px;
margin-left : -8px;
margin-top : -130px;
position : fixed;
width : 3000px;
}
