.stars {
  width:200px;
  height:40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  text-align: center;
  color: #0000FF;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
