.stars {
  width:200px;
  height:40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  text-align: center;
  color: #0000FF;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vid {
  display: block;
  margin: 0 auto;
}

h3,
h4,
h5,
h6,
h7 {
  font-family:  Times, Serif;
  font-size: 30px;
  font-weight: bold;
  color: white
}

.body {
  font-size: 17px;
  font-family: Verdana, Serif;
  color: white
}

body {
  background-image: url("starry.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
  

