h1 {
font-family: "Helvetica Neue", sans-serif;  
}
h2 {
font-family: "Helvetica Neue", sans-serif;
text-decoration: underline;
text-decoration-color: black;
}
p {
  font-family: "Helvetica Neue", sans-serif;
  margin-right: 270px;
  padding-right: 200px;
  letter-spacing:1px;
  border: 3px solid green;
  margin: 5px 15px 15px 20px;
  padding: 5px 10px 10px 20px;
  
}
li {
  font-family: "Helvetica Neue", sans-serif;
  padding-left: 15px;
}
.shanghai {
  height: 360px;
  width: 562px;
}
.list {
  display: grid;
  border:  2px gray solid;
  width:  25%;
  height: 170px;
}
.gallery {
  display: grid;
  border:  2px gray solid;
  height: 400px;
  width: 600px;
  overflow: scroll;
}
.futsal {
  height: 360px;
  width: 562px;
}
.aberdeen {
  height: 360px;
  width: 562px;
}
.nyc {
  height: 360px;
  width: 562px;
}
.previous {
  font-family: "Helvetica Neue", sans-serif;
}
.menu {
  font-family: "Helvetica Neue", sans-serif;
}
.next {
  font-family: "Helvetica Neue", sans-serif;
}
.coverpic {
  height: 315px;
  width: 260px;
  padding: 2px 2px 2px 2px;
  border: 2px solid gray;
}
