h1 {
font-family: "Helvetica Neue", sans-serif;  
}
h2 {
font-family: "Helvetica Neue", sans-serif;
}
p {
  font-family: "Helvetica Neue", sans-serif;
  margin-right: 270px;
  padding-right: 200px;
  letter-spacing:1px;
  
}
li {
  font-family: "Helvetica Neue", sans-serif;
}
.shanghai {
  height: 360px;
  width: 562px;
}
.home {
 height: 7.5%; 
}
.back {
  height: 7%;
  width: 4%;
}
.next {
  height: 7.5%;
  width: 4%;
}
.list {
  display: grid;
  border:  2px gray solid;
  width:  25%;
  height: 170px;
}
.gallery {
  display: grid;
  border:  2px gray solid;
  height: 400px;
  width: 600px;
  overflow: scroll;
}
.futsal {
  height: 360px;
  width: 562px;
}
.park {
  height: 360px;
  width: 562px;
}
.aberdeen {
  height: 360px;
  width: 562px;
}
.previous {
  font-family: "Helvetica Neue", sans-serif;
}
.menu {
  font-family: "Helvetica Neue", sans-serif;
}
.next {
  font-family: "Helvetica Neue", sans-serif;
}
.cover pic {
  height: 50px;
  width: 50px;
}
