* {
  font-family: 'Fredoka One';
}

p {
  font-family: 'Fredoka One', cursive;
  width: 400px;
  color: black;
  background-color: white;
}

h1 {
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
  font-weight: bold;
  background-color: white;
  
}

h2 {
  font-family: 'Fredoka One', sans-serif;
  text-align: left;
  color: black;
  background-color: white;
}

h3 {
  font-family: 'Fredoka One', sans-serif;
  text-align: left;
  color: black;
  background-color: white;
}

.menu {
  list-style-type: none;
  
}

.menu item {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
} 

li {
  float: left;
}

li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  vertical-align: text-bottom;
  font-size: 20px;

}  

.title {
  text-align: center;
  color: black;
}

.review text{
  text-align: left;
  font-family: 'Fredoka One';
}

.rating {
  float: right;
  clear: left;
}

.trailer {
  align: right;
  clear: left;
}

.modes {
  text-align: left;
  color: black;
}

.one {
  text-align: left;
  color: black;
}

.one text {
  text-align: left;
  
}

.one image {
  clear: left;
  float: right;
  height: auto;
  width: 400px;
}

.courtbattles {
  text-align: left;
  color: black;
}

.courtbattles text {
  text-align: left;
}

.courtbattles image {
  clear: left;
  float: right;
  height: auto;
  width: 400px;
}

.league {
  font-family: 'Fredoka One', sans-serif;
  text-align: left;
  color: black;
}

.league text {
  text-align: left;
}

.league image {
  clear: left;
  float: right;
  height: auto;
  width: 400px;
}

.streets {
  font-family: 'Fredoka One', sans-serif;
  text-align: left;
  color: black;
}

.streets text {
  text-align: left;
  font-family: 'Fredoka One';
}

.streets image {
  clear: left;
  float: right;
  height: auto;
  width: 400px;
}

.table {
  border: 1px solid black;
}
