* {
font-family: 'Aclonica', sans-serif;
  
h2 {
  font-family: "Arial Black", Gadget, sans-serif ;
  letter-spacing: 4px;
}

body {
  background-image: url("");
  background-repeat: repeat-y;
}

p {
color: #000000;
  font-size: 18px;
  font-family: "Arial", Gadget, sans-serif ;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
  
farpoint_game_cover {
    
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif ;
  letter-spacing: 4px;     
  text-align: center;
}

.Farpoint{
  color:red; 
}
