* {
font-family: 'Aclonica', sans-serif;
}

h2 {
  font-family: "Arial", Gadget, sans-serif ;
  letter-spacing: 4px;
}

p {
color: #000000;
  font-size: 18px;
  font-family: "Helvetica Neue", Gadget, sans-serif ;
}

a:link {
color : black;
text-decoration : none;
}

a:visited {
color : black ;
text-decoration : none;
}

a:hover{
color: gray;
text-decoration : none;
}

a:active{
color : white;
text-decoration : none;
}

ul {
list-style-type : none;
margin : 4px;
padding : 0;
background-color : #666;
}



li a {
display : inline;
color : white;
text-align : center;
padding : 30px;
text-decoration : none;
}

li a:hover {
background-color : #3da360;
}

.navigation{
font-size: 25px;
}


h1 {
  font-family: "Arial", Gadget, sans-serif ;
  letter-spacing: 4px;     
  text-align: center;
}

.Farpoint {
  color: red;
  Letter-spacing: 1px;
  font: Georgia, sans serif;
}
  
  ul {
list-style-type : none;
margin : 0;
padding : 0;
overflow : hidden;
background-color : #666;
}

header li, footer li {
float : left;
}

li a {
display : block;
color : white;
text-align : center;
padding : 20px;
text-decoration : none;
}

li a:hover {
background-color : #3da360;
}
  
header {
display : block;
color : white;
text-align : center;
padding : 20px;
text-decoration : none;
}

iframe {
  text-align: center;
}
