body {
  background-image: url ("https://github.com/SorensenSJ/Sec.4_VideoGame_Website/blob/master/boyer/baby%20peng.jpg?raw=true/images/baby peng.jpg");
  background-repeat: repeat-y;
  background-size: cover; 
}
 
p {
  color: black;
  font-family: Times New Roman, serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  width: 1000px;
  padding: 10px;
  border: 5px ;
  margin: 10px;
  padding: 10px;
} 

h1 { 
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

h3{
   font-size: 45px;
  font-weight: bold;
  text-align: center;
}

h4{
   font-size: 45px;
  font-weight: bold;
  text-align: center;
}

h5{
   font-size: 45px;
  font-weight: bold;
  text-align: center;
}

h6{
   font-size: 45px;
  font-weight: bold;
  text-align: center;
}





