
#Logo {
  height: 500px;
  width: 500px;
}

#Phara {
  height: 500px;
  width: 900px;
}

#Soldier {
  height: 500px;
  width: 900px;
}

#Gallery {
  height: 600px;
  width: 1000px;
}

body {
  background-size:cover;
  font-size: 30px;
}
