h1{
  color: #D3D3D3;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serifDidot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", seriffancy;
  background: #FFFFFF url("https://pbs.twimg.com/media/DTVxppUWkAAs-Nq.jpg") no-repeat fixed center;
  max-width: 2000px;
  height: 750px;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1350px;
  text-align: left;
  background-size: cover;
  font-size: 100px;
}
header{
  position:fixed;
  z-index: 500;
}
footer{
background: #FFFFFF url("https://raw.githubusercontent.com/SorensenSJ/Sec.4_VideoGame_Website/master/taddeo/images/starspace.png") no-repeat fixed center;
}
#back{
  position :fixed;
      top: 0px;
      left: 0px;
  z-index: 999;
}
#back:hover{
  background-color: beige;
position: fixed
}
    #home{
      position :fixed;
      top: 0px;
      left: 50px;
}
#home:hover{
  background-color: beige;
  position: fixed
    left: 50px;
}
#next{
  position :fixed;
      top: 0px;
      left: 100px;
}
#next:hover{
  background-color: beige;
  position: fixed
}

  h4{
  text-align: left;
  color: #D3D3D3;
  position: relative;
  top: -50px;
  left: 10px;
}
header{
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Nu2DDaj5gikp4kjij/fly-through-outer-space-nebula-and-stars-animated-background_scybrqakl_thumbnail-full11.png");
  font-size: 25px;
  color: white;
  height: 55px;
  text-align: center;
  image-shadow: 5px 5px #333333;
}
.gg{
 height:45px;
 width:45px;
  position: fixed;
}
p{
  font-size: 20px;
}
.gendes{
  background: #FFFFFF url("http://www.bruna.cat/imgdownload/full/70/709757/latest-guns-wallpapers.jpg") repeat;
   color: white;
}
.awk{
  margin-right:500px;
}
.igp{
  height: 250px;
  width: 350px;
  position:relative;
  top: -350px;
  left: 1000px;
}
.cover{
  height: 300px;
  width: 350px;
  position: relative;
  top: -655px;
  left: 650px;
}
