
body {
background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=5sq5sZTc&id=F72DDCC223ABF55244938CA380712271789DA7D0&thid=OIP.5sq5sZTc__L2qxkxVKscSgHaEK&mediaurl=https%3a%2f%2fchromethemer.com%2fwallpapers%2fchromebook-wallpapers%2fdownload%2fred-dead-redemption-3840x2160.jpg&exph=2160&expw=3840&q=red+dead+wallpaper&simid=608034511380418423&selectedIndex=3);g
  background-repeat: repeat-y;
  background-size: cover;
}
