* {
  background-color: Black;
}

h1 {
  font-family: Arial;
  color: White;
}
h2 {
  text-align: center;
  color: White;
}
h3 {
  text-align: center;
  color: White;
}
.Intro {
  text-align: center;
}
.Different_Categories {
  text-align: center;
}
.What_the_game_is_about {
  text-align: center;
}

p {
  font-family: 'Asap', sans-serif;
  color: White;
}


li {
float : left;
}

li a {
display : block;
color : White;
text-align : center;
padding : 30px;
text-decoration : none;
}

li a:hover {
background-color :#F20B1B;
}

.menu_bar{
font-size: 25px;
}

  
