* {
  background-color: Red;
}

h1 {
  text-align: center;
  color: White;
}
h2 {
  text-align: center;
  color: White;
}
h3 {
  text-align: Left;
  color: White;
}
.What_the_game_is_about {
  text-align: center;
}

p {
  font-family: 'Asap', sans-serif;
  color: White;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f00;
}

li {
float : left;
}

li a {
color : white;
display : block;
font-family : "Times New Roman";
padding : 30px;
text-align : center;
text-decoration : none;
}

li a:hover {
background-color : #0B0101;
}

