body {
  font-type : Arial;
  color : white;
  background-image : ("https://stmed.net/sites/default/files/civilization-vi-hd-wallpapers-32896-6815626.jpg");
  background-repeat : no repeat;
  background-attachment : fixed;
}
