body {
  font-family : "arial";
  color : white;
  background-image : url(https://stmed.net/sites/default/files/civilization-vi-hd-wallpapers-32896-6815626.jpg);
}
goodpoints {
  color : green;
}
badpoints {
  color: green;
}
div.NavigationalBar li {
  display: inline;
}
.NavigationalBar {
 width: 2560px;
 position: fixed;
 max-height: 50px;
}
div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
div.NavigationalBar li {
  float: left;
}
.NavigationalBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 .NavigationalBar li a:hover:not{
   color: #1111;
}
