* {
font-family: 'Aclonica', sans-serif;
}

body {
background-image: url("https://i.redd.it/v6nri87mfx8y.png");
  background-repeat: repeat-y;
}

p {
color: #FFF;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
}

h1 {
color: #FFF;
  font-size: 70px;
  text-align: center;
}

h3 {
padding: 12px;
  margin: 20px;
  font-weight: bold;
  color: #FFA500;
}

.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
