* {
font-family: 'Aclonica', sans-serif;
}

body {
background-image: url("https://i.redd.it/v6nri87mfx8y.png");
  background-repeat: repeat-y;
  background-size: cover;
}

p {
color: #FFF;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
   background-color: black;
}

li {
color: #FFF;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
}

h1 {
color: #FFF;
  font-size: 60px;
  text-align: center;
  margin: 10px;
}

h3 {
padding: 12px;
  margin: 20px;
  font-weight: bold;
  color: #FFA500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu-item {
  float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  vertical-align: text-bottom;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
}

#xbox {
display: inline-block;
  background-color: #159900;
}

#logo {
max-width:50px;
    max-height: auto;
  border: 0px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

#ranks {
max-width:300px;
    max-height: auto;
  float: right;
  margin: 20px;
}

.item-rarity {
  background-color: black;
  width: 136px;
}

.casual-game-modes {
  width: 300px;
}

.casual-playlist {
  float: right;
    max-width:650px;
    max-height: auto;
}
