* {
font-family: 'Aclonica', sans-serif;
}

body {
background-image: url("https://i.redd.it/v6nri87mfx8y.png");
  background-repeat: repeat-y;
  background-size: cover;
}

p {
color: #FFF;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
   background-color: black;
}

li {
color: #FFF;
  font-size: 18px;
  font-family: 'Aclonica', sans-serif;
}

h1 {
color: #FFF;
  font-size: 60px;
  text-align: center;
  margin: 10px;
}

h3 {
padding: 12px;
  margin: 20px;
  font-weight: bold;
  color: #FFA500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu-item {
  float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  vertical-align: text-bottom;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
}

#logo {
max-width:50px;
    max-height: auto;
  border: 0px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

#ranks {
max-width:300px;
    max-height: auto;
  float: right;
  margin: 20px;
}

.item-rarity {
  background-color: black;
  width: 136px;
}

.casual-game-modes {
  width: 300px;
}

.casual-playlist {
  float: right;
    max-width:650px;
    max-height: auto;
}

.video {
  float: right;
  clear: left;
  margin: 15px;
}

h3 span {
   background-color: black;
}

span {
  padding: 5px 8px;
}

#RLrating {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#switch {
  width: 300px;
  max-height: auto;
  padding: 34px 20px;
  border: 10px solid red;
  border-radius: 30px;
  margin-top: 10px;
}

#switch:hover {
 background-color: red;
}

#pc {
  width: 300px;
  max-height: auto;
  padding: 20px;
  border: 10px solid #006C88;
  border-radius: 30px;
  margin-top: 10px;
}

#pc:hover {
 background-color: #006C88;
}

#Playstation {
  width: 300px;
  max-height: auto;
  padding: 20px;
  border: 10px solid #0000FF;
  border-radius: 30px;
  margin-top: 10px;
}

#Playstation:hover {
 background-color: #0000FF;
}

#xbox {
  width: 300px;
  max-height: auto;
  padding: 20px;
  border: 10px solid #159900;
  border-radius: 30px;
  margin-top: 10px;
}

#xbox:hover {
 background-color: #159900;
}
