h1 {
  font-family: Arial;
  color: Green;
}
h2 {
  text-align: center;
  color: Green;
}
h3 {
  text-align: center;
  color: Green;
}
.Intro {
  text-align: center;
}
.Different_Categories {
  text-align: center;
}
.How_to_Play {
  text-align: center;
}
.main-list {
  text-align: center;
}
p {
  font-family: 'Asap', sans-serif;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #111111;
}
