h1 {
  font-family: Arial;
  color: Green;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.Intro {
  text-align: center;
}
.differentcategories {
  text-align: center;
}
.HowtoPlay {
  text-align: center;
}
.main-list {
  text-align: center;
}
