h1 {
  font-family: Arial;
  color: Green;
}
h2 {
  text-align: center;
  color: Green;
}
h3 {
  text-align: center;
  color: Green;
}
.Intro {
  text-align: center;
}
.Different_Categories {
  text-align: center;
}
.How_to_Play {
  text-align: center;
}
.main-list {
  text-align: center;
}
p {
  font-family: 'Asap', sans-serif;
}
ul {
list-style-type : none;
margin : 0;
padding : 0;
overflow : hidden;
background-color : #666;
}

li {
float : left;
}

li a {
display : block;
color : white;
text-align : center;
padding : 30px;
text-decoration : none;
}

li a:hover {
background-color : #3da360;
}

.navigation{
font-size: 25px;
}
