* {
font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

h1 {color: #000000;
    text-align: center;
}

h3 {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #FF0000;
    text-align:left;
}

.w3-round {
    height: 450px;
    width: 700px;
   
  
}




