* {
  font-family: 'Times New Roman';
}

body {
  background-repeat: repeat-y;
  background-size: cover;
}

p {
  color: #86E2D5;
  font-size: 16px;
  font-family: 'Times-New-Roman', serif;
}
  
li {
  color: #86E2D5;
  font-size: 16px;
  font-family: 'Times-New-Roman', serif;
  }
  
h1 {
  color: #86E2D5;
  font-size: 40px;
  text-align: center;
  font-family: 'Times-New-Roman', serif;
}
  
h2 {
  color: #86E2D5;
  font-size: 40px;
  font-family: 'Times-New-Roman', serif;
}


  
