* {
font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("nintendo-celebra-su-woodstock-con-super-smash-bros.jpg");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
}

#GAME_REVIEW {
  text-align: center;
  color: #fff;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p {
  text-align: center;
  color: black;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#bomba {
  text-align: center;
  color: #fff;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#fighter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#stages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu_bar li {
  float: left;
}

.menu_bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

.menu_bar li a:hover {
  background-color: #111111;
}

.video { 
  margin: 0 auto; width: 400px;
}

