* {
font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("nintendo-celebra-su-woodstock-con-super-smash-bros.jpg");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: White;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2 {
  text-align: center;
  color: White;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p {
  text-align: center;
  color: Black;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#fighter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#stages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.menu_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu_bar li {
  float: left;
}

.menu_bar a {
  display: block;
  color: White;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

.menu_bar li a:hover {
  background-color: #111111;
}

.video { 
  margin: 0 auto; width: 400px;
}

.verdict {
  color: White;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#introp {
  background-color: rgba(255,255,255,0.5)
}
  
#smash {
  color: Red
}
  
#smash_mode {
  background-color: rgba(255,0,0,0.7)
}
  
#online {
  color: Orange
}
  
#online_mode {
  background-color: rgba(255,165,0,0.7)
}
  
#challenges {
  color: rgb(255,0,255)
}
  
#challenge_mode {
  background-color: rgba(255,0,255,0.7)
}
  
#smash_run {
  color: rgb(37,233,90)
}
  
#smash_run_mode {
  background-color: rgba(37,233,90.0.7)
}
  
#gamesmore {
  color: rgb(0,0,255)
}
  
#games_and_more_mode {
  background-color: rgba(0,0,255,0.7)
}
  
  

