* {
  font-family: Times New Roman;
}

html {
 margin-top: -10px; 
}

li {
    list-style-type: none;
}

div.TitleAuthor h1 {
  color: red;
  font-size: 25px;
}

div.TitleAuthor h3 {
  color: black;
  font-size: 21px;
}


div.NavigationalBar li {
  display: inline;
}

.NavigationalBar {
 width: 2560px;
 position: fixed;
 max-height: 50px;
}



div.NavigationalBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.NavigationalBar li {
  float: left;
}

.NavigationalBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.active {
  background-color: #8426ef;
}

 .NavigationalBar li a:hover:not{
   color: #1111;
}

.asidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 8px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border-style: solid;
    border-width: 5px;
}


.asidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    color: #2197F3;
    display: block;
}

.asidenav h2{
  text-align: center;
  color: #1d2026;
}

main {
    margin-left: 140px;
    margin-right: 140px;
    padding: 0px 10px;
}

.asidenav ul{
 padding: 0px;
}

.ReviewText p {
 font-size: 20px; 
}

.PCTable th {
  font-size: 25px;
}


.PCTable ul {
 font-size: 20px
}

.PCTable {
 padding: 30px;
 background-color: #eee;
 
}

.Screenshots img {
    padding-top: 52px;
}

.circle-text {
    display: table-cell;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #323335;
    color: #fff;
    position: relative;
    left: 200px;
  
}
 
.circle-text p {
  font-size: 35px;
  color: #8426ef;
  font-weight: bold;
}

footer {
  position: relative;
  bottom: -50px;
}



footer a {
  left: -40px;
  position: relative;
}



