body {
   background-size: contain;
background-image: url("donkey kong image (background picture).jpg");
}

p {
color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h4 {
   color: white
      text-allign: left;
}

h3 {
color: white;
   text-allign: left;
}

#donkey {
 color: white;
   text-allign: left;
}

p {
   color: white;
      font-weight: strong;
   text-allign: left; 
}
