body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
background-image: url("https://i.ytimg.com/vi/FbCdr5UNLv0/maxresdefault.jpg");
}

p {
color: #FFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h4 {
   color: #FFF;
      text-allign: left;
   font-weight: strong;
}

h3 {
  text-allign: center;
color: #FFF;
}

h1 {
  text-allign: center;
 color: #FFF;
}

p {
   color: #FFF;
      font-weight: strong;
   text-allign: left; 
}


div {
  width: 300px;
  border: 25px solid red;
  padding: 25px;
  margin: 25px;
}
