* {
  background-color: yellow;
}

.menu-item {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

p {
  font-family: Arial;
  float: left; 
  border: 50px;
  padding: top;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

h5 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
