* {
  background-color: yellow;
}

.menu-item {
  display: block;
  float: left;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-family: 'Alfa Slab One', cursive;
}

.menu-item a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
  .menu item:hover {
    background-color: #0b0101
  }

p {
  font-family: Arial;
  float: left; 
  border: 10px;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

h5 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  border: 0px;
  padding: 0px;
  margin: 15px;
}
