* {
  background-color: yellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;

p {
  font-family: Arial;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}


