 * {
  font-family: 'Unlock', cursive;
  color: white;
}

body {
  background-image: url("https://image.redbull.com/rbcom/010/2014-12-09/1331694342585_2/0100/0/1/uncharted-4-a-thief-s-end.jpg");
    background-repeat: repeat-y;
    background-size: contain;  
}

p {
  margin: 15px;
  font-size: 15px;
}

h1 {
  font-size: 35px;
  text-align: left;
}

h2 {
  font-weight: bold;
  font-size: 25px;
}
  
.menu-bar {
  list-style-type: none;
  }
  
.menu-item {
  float: left;
  margin: 10px;
}

.More Navigation {
  font-weight: bold; 
}
  
#picture1 {
  height: 300px;
  width: 525px;
  margin: 10px;
  }
  
#picture2 {
  height: 300px;
  width: 525px;
  margin: 10px;
  }
  
#picture3 {
  height: 300px;
  width: 525px;
  margin: 10px;
  }

#Video {
  margin: 10px;
}
