 * {
  font-family: 'Unlock', cursive;
  color: white;
}

body {
 background-image: ("../Images/Github Image 2.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

h1 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.Rating {
 
}

.menu-bar {
  
}

.More Navigation {
  font-weight: bold; 
  
}
