 * {
font-family: 'Unlock', cursive;
}

body {
 background-image: url("https://image.redbull.com/rbcom/010/2014-12-09/1331694342585_2/0010/1/1050/700/1/uncharted-4-a-thief-s-end.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

h1 {
  Font-weight: bold;
}

h3 {
  font-weight: bold;
}
