 * {
  font-family: 'Unlock', cursive;
  color: white;
}

body {
  background-image: url("https://image.redbull.com/rbcom/010/2014-12-09/1331694342585_2/0100/0/1/uncharted-4-a-thief-s-end.jpg");
    background-repeat: repeat-y;
    background-size: contain;  
}

h1 {
  font-size: 60px;
  text-align: left;
  margin: 10px;

h2 {
  font-weight: bold;
}
  
.menu-bar {
  style-list: none;
  }
  
.menu-bar {
  float: left;
  margin: 10px;
}

.More Navigation {
  font-weight: bold; 
}
