* {
  font-family: Times New Roman;
  color: #FFF;
}
  
  body {
  background-image:(./galaxy.jpg);
  background-size: cover;
  font-size: 20px;
}
  
h1 {
   
}

.multiplemodes {
  height: 50%;
    width: 50%;
}
  
  .title {
    text-align: center;
    font-size: 30px;
  }

  .partonetitle,
  .parttwotitle,
  .partthreetitle
  {
    text-align:center;
    font-size: 20px;
  }
  
    
    
