* {
  font-family: Times New Roman;
  color: #FFF;
  
  body {
  background-image: url(./galaxy.jpg);
  background-size: cover;
  font-size: 20px;
}
  
h1 {
   
}

.multiplemodes {
  height: 50%;
    witdh: 50%;
}
